.aboutMe {
    margin-top: 30px;
    background-color: darkgray
}
.dark {
    background-color: black
}
#accordion {
    background-color: darkgray
}
.copyright {
    color: white
}
.linux {
    margin: 27px
}
.aws {
    margin: 15px
}
.js-logo {
    margin: -2.5px
}